@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_AdminCanvas.cshtml";
}

<style>
    .ln-space {
        height:4px;
    }
</style>

<div class="form-group"><div class="row">
	<div class="col-md-10">
        @Html.Label("Nombre", new { @for="Usuario" })
        @Html.TextBox("Usuario",string.Empty, new { @class="form-control", @placeholder="Usuario"})
    </div>
</div></div>

<div class="form-group"><div class="row">
	<div class="col-md-10">
        @Html.Label("Departamento/Seccion:", new { @for="Departamento" })
        @Html.TextBox("Departamento",string.Empty, new { @class="form-control", @placeholder="Departamento"})
    </div>
</div></div>

<div class="form-group"><div class="row">
	<div class="col-md-10">
        @Html.Label("Autoriza cambios:", new { @for="Departamento" })
        @Html.TextBox("Autoriza",string.Empty, new { @class="form-control", @placeholder="Departamento"})
    </div>
</div></div>

<div class="form-group"><div class="row">
	<div class="col-md-10">
        @Html.Label("Correo electronico", new { @for="Usuario" })
        @Html.TextBox("Usuario",string.Empty, new { @class="form-control", @placeholder="email@mail.com"})
    </div>
</div></div>

<div class="form-group"><div class="row">
	    <div class="col-md-10">
            <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-share-alt"></span>Agregar</button>
        </div>
</div></div>
