@{
    ViewBag.Title = "Resolucion";
    ViewBag.Departamento = "DERECHOS DE AUTOR Y DERECHOS CONEXOS";
    var solicitud = ViewBag.Solicitud as PI.Models.ExpedienteDAutor;
    var tramite = ViewBag.Tramite as PI.Models.Composite.ResolucionCustomizada;
    ViewBag.sello = solicitud.getSello(tramite.Llave.ToString());
    Layout = "~/Views/Shared/_MembretadaLayout.cshtml";
    //var solicitud = @ViewData.Eval("Solicitud") as PI.Models.ExpedienteDAutor;
    //var tramite = @ViewData.Eval("Tramite") as PI.Models.DAResolucion;
    //var solicitud = Model.Solicitud as PI.Models.ExpedienteDAutor;
    //var tramite = Model.Tramite as PI.Models.DAResolucion;
}
<style>
     p {
    text-align: justify;
    text-justify: inter-word;
}
</style>
<p>Expediente @solicitud.Expediente.Numero.Insert(4, "-")</p>

@solicitud.Tipo.Nombre

<p><h3>Resolución: Se rechaza de Plano la Solicitud de Registro</h3></p>


@{
    var _fresol = Common.Web.Util.getEnLetras(tramite.Fecha.Day) + " DE " + Common.Web.Util.getMes(tramite.Fecha.Month) + " DEL DOS MIL " + Common.Web.Util.getEnLetras(tramite.Fecha.Year - 2000);
    var _fsolicitud = Common.Web.Util.getEnLetras(solicitud.Expediente.FechaDeSolicitud.Day) + " DE " + Common.Web.Util.getMes(solicitud.Expediente.FechaDeSolicitud.Month) + " DEL DOS MIL " + Common.Web.Util.getEnLetras(solicitud.Expediente.FechaDeSolicitud.Year - 2000);
}


<p>
    REGISTRO DE LA PROPIEDAD INTELECTUAL,  Guatemala, @_fresol<br /><br />

    I) Por recibida la solicitud presentada con fecha @_fsolicitud <br />

    por @solicitud.Solicitante.Nombre <br />
    

así  como  la  documentación  y  ejemplar adjuntos;   II)   CONSIDERANDO:   Que de conformidad con el artículo 104 del  Decreto  33-98  del Congreso  de la República,  Ley de  Derecho de Autor  y  Derechos Conexos:  El  Registro  de  los  derechos relativos a las obras y demás
producciones protegidas por la ley, estará a cargo del Registro de la Propiedad Intelectual; en dicho registro se inscribirá: a) Las obras que así lo soliciten sus autores; b)  Las producciones para radio y televisión, que estén fijadas en un soporte material, cuando así se solicite por
sus titulares;  c)  Los convenios o contratos que en cualquier forma confieran, modifiquen, transmitan o restrijan derechos patrimoniales de autor y conexos y los que autoricen modificaciones en una obra, cuando así lo soliciten las partes o lo disponga la ley;  d)  Las sociedades
de  gestión  colectiva  debidamente  autorizadas;  y  e)  El nombramiento de los representantes y apoderados de las sociedades de gestión colectiva. CONSIDERANDO:  Que de conformidad con el artículo 24 del Decreto 33-98 del Congreso de la República:  Por el derecho de autor
queda protegida exclusivamente la forma mediante la cual las ideas del autor son descritas, explicadas, ilustradas o incorporadas a las obras. No son objeto de protección las ideas contenidas en las obras literarias y artísticas, el contenido ideológico o técnico de las obras
ni su aprovechamiento industrial o comercial  y tampoco están protegidos los descubrimientos,  los conocimientos  y  las enseñanzas,  ni  los métodos de investigación. 
@tramite.DOCUMENT.Resuelve
</p>

<p>
CONSIDERANDO:  Que este Registro,  al efectuar el estudio respectivo,  estableció que lo que el solicitante pretende inscribir no es objeto de de protección del derecho de autor ni corresponde a los derechos conexos,  por lo que es procedente rechazar lo solicitado.    POR TANTO:
Con base en lo considerado y en lo que para el efecto preceptúan los @tramite.DOCUMENT.Resuelve
</p>

NOTIFIQUESE y oportunamente archívese el expediente.



